@import 'reset';
@import 'variables';
@import 'mixin';

body{
  background-image: url(../img/wallpaper.png);
  // border: 2px solid red;
  // height: 100vh;
  // transition: background-position 80s;
}
section{
  // height: 90%;
  display: flex;
  justify-content: space-around;
  // align-items: center;
  max-width: 1200px;
  align-items: flex-start;
  // border: 2px sloid yellow;
  // width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
#aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 10%;
}

#compteurVies{
  background: rgba(255, 255, 255, .7);
  border-radius: 10px;
  box-shadow: 17px 13px 15px 4px rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70px;
    .avatar{
      position: relative;  
      margin: 10px;
      width: 50px;
      height: 50px;
      background-image: url('../img/avatar_vie.png');
      background-size: cover;
      .ombre{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        background-image: url('../img/ombre_avatar.png'); 
        background-size: cover;
        opacity: 0;
        transition: opacity .3s ease-out;
        width: 100%;
        height: 100%;   
      }
    }
}

.cadre{
    height: 700px;
    width: 700px;
    background: rgba(255, 255, 255, .7);
    border-radius: 10px;
    // border: solid 2px black;
    position: relative;
    transition : background-color .1s ease-in-out;
    box-shadow: 17px 13px 15px 4px rgba(0,0,0,0.8);
    // margin-top: 10%;
  }
  
  #carre{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 300px;
    left: 300px;
  }
  
.ennemi{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
  }
.ennemi:nth-of-type(2){
    top: auto;
    bottom: 50px;
    left: 50px;
}
.ennemi:nth-of-type(3){
    left: auto;
    bottom: 50px;
    right: 50px;
}
.ennemi:nth-of-type(4){
    top: auto;
    bottom: 50px;
    left: auto;
    right: 50px;
}

  .bombe{
    height: 50px;
    width: 50px;
    background-image: url("../img/bomb.gif");
    position: absolute;
    // top: 100px;
    // left: 100px;
    border-radius: 100%;
    transition: width,height .1s ease-in-out;
    font-family: 'Fredoka One';
  }
  .explosion{
    //   width: 150px;
    //   height: 150px;
      background-image: url("../img/explosion.gif");
      animation: animate 2s linear forwards
    //   transform: translate(-50px, -50px);
    //  transform: scale(3);
  }
  @keyframes animate{
    0%{
      transform: scale(0);
    }
    10%{
      transform: scale(2);
    }
    20%{
      transform: scale(0);
    }
    30%{
      transform: scale(2);
    }
    40%{
      transform: scale(0);
    }
    50%{
      transform: scale(2);
    }
    60%{
      transform: scale(0);
    }
    70%{
      transform: scale(2);
    }
    80%{
      transform: scale(0);
    }
    90%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
    }
  }

  #got-screen{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.got{
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 100px;
  color: red;
  font-family: 'Fredoka One';
}

#flash{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaff03;
  opacity: 0;
  transition: opacity .1s ease-out;
}

// #vie-screen{
//   border: 2px solid red;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .vie{
// z-index: 1000;
// display: flex;
// justify-content: flex-end;
// align-content: flex-start;
// font-size: 50px;
// color:black;
// font-family: 'Fredoka One';
// }

.vie{
  display: none;
}
#replay{
  width: 150px;
  margin-top: 50px;
  transform: scale(0);
  transition: transform .6s ease-in-out;
  a{
    img{
    width: 100%;
    }
    p{
      font-family: 'Fredoka One';
      font-size: 30px;
      text-align: center;
      color: white;
    }
  }
}

.obstacle{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.obstacle:nth-child(2){
  top: auto;
  bottom: 350px;
  left: 50px;
}
.obstacle:nth-child(3){
  
  top: 550px;
  left: 550px;
}
.obstacle:nth-child(4){
  top: auto;
  bottom: 150px;
  left: auto;
  right: 200px;
}

.obstacle:nth-child(5){
  top: auto;
  bottom: 200px;
  left: 200px;
}
.obstacle:nth-child(6){
  left: auto;
  bottom: 50px;
  right: 100px;
}
.obstacle:nth-child(7){
  top: auto;
  bottom: 450px;
  left: auto;
  right: 350px;
}
/*
#btn{
  cursor:pointer;
  border-radius:10px;
  background-color: deeppink;
  display:inline-block;
  padding:8px;
  margin-left: 840px;
  margin-right: 840px;
  margin-top: 20px;
  border:1px solid #000;
  box-shadow : 0px 3px 3px 0px #D1D1D1;
  }
  */